

<div class="row top-nav-header">
  <div _ngcontent-par-c110="" class="col-xs-12 col-sm-6 col-md-6">
    <p class="top-nav-ph"> Phone: +91 9500779737 / +91 7397244900 / +91 9629633738 / +91 9384961936 </p>
  </div>
  <div _ngcontent-par-c110="" class="col-xs-12 col-sm-6 col-md-6">
      
      <ul _ngcontent-par-c110="" class="list-unstyled list-inline social">
        <li _ngcontent-par-c110="" class="list-inline-item"><a _ngcontent-par-c110=""
            href="https://www.facebook.com/pages/category/Hotel/Manoj-Kalyana-Mahal-Tindivanam-662115133841685/"><i _ngcontent-par-c110="" class="fa fa-facebook"></i></a></li>
        <li _ngcontent-par-c110="" class="list-inline-item"><a _ngcontent-par-c110="" href="https://twitter.com/iammanoj_77"><i
              _ngcontent-par-c110="" class="fa fa-twitter"></i></a></li>
        <li _ngcontent-par-c110="" class="list-inline-item"><a _ngcontent-par-c110=""
            href="https://www.instagram.com/manojkumar_thala/?hl=en"><i _ngcontent-par-c110="" class="fa fa-instagram"></i></a></li>
        <li _ngcontent-par-c110="" class="list-inline-item"><a _ngcontent-par-c110="" href="https://www.google.com/search?q=manoj+kalyana+mahal&rlz=1C1CHBF_enUS879US881&oq=manoj+kalyana+mahal+&aqs=chrome..69i57j35i39j69i60.7464j0j7&sourceid=chrome&ie=UTF-8"><i
              _ngcontent-par-c110="" class="fa fa-google-plus"></i></a></li>
      </ul>
   
  </div>
</div>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top fixed-top-header">
  <img src="assets/img/11.png" height="190px" alt />
  <!-- <a class="navbar-brand" href="#">Angular Bootstrap Demo</a> -->
  <button class="navbar-toggler collapsed" type="button" (click)="toggleNavbar()" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/other-services">Other Services</a>
      </li>

    </ul>
  </div>
</nav>
