.nav-item{
    padding:2px;
    margin-left: 7px;
}

.mr-auto, .mx-auto {
     margin-right:100px!important; 
     margin-left: auto !important;
     font-weight: bold;
     font-size: 20px;
}
.bg-dark {
    background-color: #ffffff!important;
}
.fixed-top-header {
    position: relative;
    height: auto;
    background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
    /* background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); */
    /* background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%); */
}

.navbar-dark .navbar-nav .nav-link {
    color: #006666;
}
.top-nav-header {
    height: auto;
    background-color: #006666;
    margin: 0px;
    }

.social{
    text-align: right;
    font-size: 26px;
    color: white;
    
}
.social li>a {
    color: #ffffff;
}
.top-nav-ph {
    color: #ffffff;
   
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
}
.fixed-top-header ul>li>a:hover {
    border-bottom: 4px solid #006666;
}
