
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a  routerLink="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>
          <li><a routerLink="/gallery"><i class="fa fa-angle-double-right"></i>Gallery</a></li>
          <li><a routerLink="/contact-us"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
          <li><a routerLink="/about-us"><i class="fa fa-angle-double-right"></i>About Us</a></li>
          <li><a routerLink="/other-services"><i class="fa fa-angle-double-right"></i>Other Services</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8">
        <h5>Locate Us</h5>
        <div class="container-fluid">
          <div class="map-responsive">
            <iframe class="img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3897.6119161216075!2d79.58413031412933!3d12.341887231723165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a533a3cdabc63d1%3A0x2109b7975acf3672!2sManoj%20Kalyana%20Mahal!5e0!3m2!1sen!2sin!4v1588267149366!5m2!1sen!2sin" width="600" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="https://www.facebook.com/pages/category/Hotel/Manoj-Kalyana-Mahal-Tindivanam-662115133841685/"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/iammanoj_77"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/manojkumar_thala/?hl=en"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="https://www.google.com/search?q=manoj+kalyana+mahal&rlz=1C1CHBF_enUS879US881&oq=manoj+kalyana+mahal+&aqs=chrome..69i57j35i39j69i60.7464j0j7&sourceid=chrome&ie=UTF-8"><i class="fa fa-google-plus"></i></a></li>
         
        </ul>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">        
        <p class="h6">© copyright 2020 - All rights Reserved<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">By Manoj Kalyana Mahal</a></p>
      </div>

     
    </div>
  
  </div>
</section>

