<section>

    <div class="container">
        <div class="row">
            <div class="col-lg-6  col-sm-12">
                <br>
                <h2><strong>
                    CONTACT US</strong></h2>

                    <form ><input type="hidden" data-form-email="true" value="AxfOGvwuump8yM5iqNpcFGuee84qDdGQwTFyCcty/niVpCifNg9AEz3cKQlaoEE0MWp/eXbnaFpNAFEy0pcQLM3NvxS2fY47xr3UGD+lL4eFstAciz6q0pL4O5jlRxGr">
                        <div class="row row-sm-offset">
                            <div class="col-md-4 multi-horizontal" data-for="name">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="name-form1-2w">Name</label>
                                    <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-2w">
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal" data-for="email">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="email-form1-2w">Email</label>
                                    <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-2w">
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal" data-for="phone">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-2w">Phone</label>
                                    <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-2w">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" data-for="message">
                            <label class="form-control-label mbr-fonts-style display-7" for="message-form1-2w">Message</label>
                            <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-2w"></textarea>
                        </div>
            
                        <span class="input-group-btn">
                            <button href="" type="submit" class="btn btn-lg btn-primary btn-form display-4">SUBMIT</button>
                        </span>
                    </form>
                    <br><br>
               
            </div>
            <div class="col-lg-6  col-sm-12">
                <br>
                <h2> <strong>
                   For Booking and Enquiry</strong>
                </h2>
                <br>
                <div>
                    
                    <div class="icon-contacts pb-3">
                        <h5 class="align-left mbr-fonts-style display-7">
                            Please Contact here
                        </h5>
                        <br>
                        <p class="align-left mbr-fonts-style display-7"><strong>
                            Name: P Manoj Kumar <br><br>
                            Phone: +91 9500779737 / +91 7397244900 / +91 9629633738 / +91 9384961936 <br><br>
                            Address: Door no - 31/1B, Bazaar Street, Tindivanam to Vandavasi Main Road Vellimedupettai. </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
             
            
         
</section>
