<div class="container">
    <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
            <br>
            <h1>About Our Mahal</h1>
            <br>
            <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                Manoj Kalyana Mahal, Vellimedupettai, Tindivanam, is one of the most popular function halls where one can avail gorgeously curated and carefully customized theme based decorations. It is gigantic in terms of size, which makes it perfect to host your big fat wedding festivities. It has multiple colossal banquet halls to let you play host to your entire kith and kin.
            </p>
            <br>
            <p>
                Manoj Kalyana Mahal, Vellimedupettai, Tindivanam, offers comfortable seating arrangements for all, and it has decorated lights that give the venue a rich look. It has a very inviting and pleasing ambiance which makes everyone feel welcomed. It lies within Vellimedupettai locality which is actually connecting the Pondichery highway.
            </p>
            <br>
            <p>
                Your guests would enjoy delectable cuisines curated by the team of professional chefs at Manoj Kalyana Mahal, Vellimedupettai. With multi-cuisine options available in both vegetarian and non-vegetarian variants, your guests would certainly have their plates full with their choice of cuisines. One must book Manoj Kalyana Mahal, Vellimedupettai, Chennai if they are looking for a classy yet extravagant venue.
            </p>
            <button type="button" class="btn btn-primary btn-lg" routerLink="/contact-us">Contact Us</button>
            <br><br>
        </div>
    </div>
</div>