<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-6  col-sm-12">
        <div class="gallery">
            <a target="_blank" href="assets\img\1.jpeg">
                <img class="img-fluid" src="assets\img\1.jpeg" width="600" height="400">
            </a>
        </div>
        </div>

        <div class="col-lg-6  col-sm-12">
        <div class="gallery">
            <a target="_blank" href="assets/img/2.jpeg">
                <img class="img-fluid" src="assets\img\2.jpeg" width="600" height="400">
            </a>
        </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6  col-sm-12">
        <div class="gallery">
            <a target="_blank" href="assets\img\3.jpeg">
                <img class="img-fluid" src="assets\img\3.jpeg" width="600" height="400">
            </a>
        </div>
        </div>

        <div class="col-lg-6  col-sm-12">
        <div class="gallery">
            <a target="_blank" href="assets/img/4.jpeg">
                <img class="img-fluid" src="assets\img\4.jpeg" width="600" height="400">
            </a>
        </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6  col-sm-12">
        <div class="gallery">
            <a target="_blank" href="assets\img\5.jpeg">
                <img class="img-fluid" src="assets\img\5.jpeg" width="600" height="400">
            </a>
        </div>
        </div>

        <div class="col-lg-6  col-sm-12">
        <div class="gallery">
            <a target="_blank" href="assets/img/6.jpeg">
                <img class="img-fluid" src="assets\img\6.jpeg" width="600" height="400">
            </a>
        </div>
        </div>
    </div>
    <br>
</div>