
<div class="container">
 <!--Other Services-->
 <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <h1 class="font-weight-light"> <strong>Other Services</strong></h1>       
    </div>
  </div>
  

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-4">
        <img src="assets\img\rice.jpg" class="img-responsive margin" style="height: 250;width: 300px;" alt="Image">
       
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-8 home-content-border">
        <h1 class="font-weight-light mahal-heading">Wholesale Rice dealer</h1>
        <p>We are one of the leading wholesale rice supplier of different varieties of rice including broken rice.We assure you that you will find the whitest rice from us which is of best in quality for the best price. Our process of delivering the rice is very straightforward as well as hygienic and we use cloth bags for their packaging. You can trust us as your rice wholesale supplier and get any rice in any quantity at the most reasonable prices with the best quality.
        </p>
        <!-- <a class="btn btn-primary" href="#">Call to Action!</a> -->
      </div>
      <!-- /.col-md-4 -->
    </div>


      <!-- Heading Row -->
      <div class="row align-items-center my-5">
        <div class="col-lg-4">
          <img src="assets\img\paddy.jpg" class="img-responsive margin" style="height: 250;width: 300px;" alt="Image">
         
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-8 home-content-border">
          <h1 class="font-weight-light mahal-heading">Wholesale Paddy Merchant</h1>
          <p>Villuputram district is an agrarian district, and leading district in producing and supplying Paddy. Manoj Paddy Merchant in Villupuram is one of the top Paddy and Rice Wholesaler in Vellimedupettati, Tindivanam. We procure paddy for the best price from farmers. Also we do supply different varieties paddy of best quality at best price.</p>
          <!-- <a class="btn btn-primary" href="#">Call to Action!</a> -->
        </div>
        <!-- /.col-md-4 -->
      </div>

     

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
          <div class="col-lg-4">
            <img src="assets\img\banana.jpg" class="img-responsive margin" style="height: 250;width: 300px;" alt="Image">
           
          </div>
          <!-- /.col-lg-8 -->
          <div class="col-lg-8 home-content-border">
            <h1 class="font-weight-light mahal-heading">Wholesale Plantain Merchant</h1>
            <p>We have our banana grove where we dont use any pesticides and the products from our grove are all organic. We sell banana tree for weddings, bananas in bunches and the products from our grove. </p>
            <!-- <a class="btn btn-primary" href="#">Call to Action!</a> -->
          </div>
          <!-- /.col-md-4 -->
        </div>
    
 
    </div>