.carousel-inner {
    height: 400px !important;
}
.carousel-inner .carousel-item {
    height: 400px;
}
.mahal-heading {
    color:#006666;
    font-weight: bold !important;
    margin-bottom: 20px;
    text-align: center;
}
.fac-image {
    display: inline-flex;
    padding-right: 37px;
}
.fac-container .card-body {
    display: inline-flex;
    border-left: 6px solid #006666;
}
.home-fac-grid {
    font-size: 21px;
    text-align: left;
}
.home-content-border {
    border-left: 6px solid #006666;
}
.bg-secondary {
    background-color: #006666 !important;
}