
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <!-- <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/img-01.jpeg" alt=""> -->
         <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="img-fluid" src="assets\img\3.jpeg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>Mandapam Front View</h3>         
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="img-fluid" src="assets\img\1.jpeg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Mandapam Hall</h3>
           </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="img-fluid" src="assets\img\2.jpeg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Hall Inside view</h3>          
        </div>
      </ng-template>
     
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="img-fluid" src="assets\img\5.jpeg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Entrance</h3>          
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="img-fluid" src="assets\img\6.jpeg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Dining Area</h3>          
        </div>
      </ng-template>
    </ngb-carousel>
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="mahal-heading" style = "text-align: center;">Welcome to</h1>
        <h1 class="font-weight-light mahal-heading">Manoj Kalyana Mahal</h1>
        <p>Manoj Kalyana Mahal, Vellimedupettai, Tindivanam, is one of the most popular function halls where one can avail gorgeously curated and carefully customized theme based decorations. It is gigantic in terms of size, which makes it perfect to host your big fat wedding festivities. It has multiple colossal banquet halls to let you play host to your entire kith and kin.</p>
        <!-- <a class="btn btn-primary" href="#">Call to Action!</a> -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <!--Other Services-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <h1 class="font-weight-light"> <strong>Other Services</strong></h1>       
      </div>
    </div>
    

      <!-- Heading Row -->
      <div class="row align-items-center my-5">
        <div class="col-lg-4">
          <img src="assets\img\rice.jpg" class="img-responsive margin" style="height: 250;width: 300px;" alt="Image">
         
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-8 home-content-border">
          <h1 class="font-weight-light mahal-heading">Wholesale Rice dealer</h1>
          <p>We are one of the leading wholesale rice supplier of different varieties of rice including broken rice.We assure you that you will find the whitest rice from us which is of best in quality for the best price. Our process of delivering the rice is very straightforward as well as hygienic and we use cloth bags for their packaging. You can trust us as your rice wholesale supplier and get any rice in any quantity at the most reasonable prices with the best quality.</p>
          <!-- <a class="btn btn-primary" href="#">Call to Action!</a> -->
        </div>
        <!-- /.col-md-4 -->
      </div>


        <!-- Heading Row -->
        <div class="row align-items-center my-5">
          <div class="col-lg-4">
            <img src="assets\img\paddy.jpg" class="img-responsive margin" style="height: 250;width: 300px;" alt="Image">
           
          </div>
          <!-- /.col-lg-8 -->
          <div class="col-lg-8 home-content-border">
            <h1 class="font-weight-light mahal-heading">Wholesale Paddy Merchant</h1>
            <p>Villuputram district is an agrarian district, and leading district in producing and supplying Paddy. Manoj Paddy Merchant in Villupuram is one of the top Paddy and Rice Wholesaler in Vellimedupettati, Tindivanam. We procure paddy for the best price from farmers. Also we do supply different varieties paddy of best quality at best price.</p>
            <!-- <a class="btn btn-primary" href="#">Call to Action!</a> -->
          </div>
          <!-- /.col-md-4 -->
        </div>

       

          <!-- Heading Row -->
          <div class="row align-items-center my-5">
            <div class="col-lg-4">
              <img src="assets\img\banana.jpg" class="img-responsive margin" style="height: 250;width: 300px;" alt="Image">
             
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-8 home-content-border">
              <h1 class="font-weight-light mahal-heading">Wholesale Plantain Merchant</h1>
              <p>We have our banana grove where we dont use any pesticides and the products from our grove are all organic. We sell banana tree for weddings, bananas in bunches and the products from our grove. </p>
              <!-- <a class="btn btn-primary" href="#">Call to Action!</a> -->
            </div>
            <!-- /.col-md-4 -->
          </div>
      
    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <h1 class="font-weight-light"> <strong>Our Facilities</strong></h1>
        <p class="text-white m-0">  The classic design, modern amenities and prime location makes Manoj Kalyana Mahal the ideal choice for marriages, various festivities and celebrations. Features such as ample parking space, kitchen facilities and water supply</p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row fac-container ">
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          
          <div class="card-body">
            <div class ="fac-image"> <img src="assets\img\AC.png" alt="Random first slide"></div>
            <h2 class="card-title home-fac-grid">Furnished A/C Rooms With Modern Facilities For Bride & Groom</h2>
           
          </div>
         
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <div class ="fac-image"> <img src="assets\img\chair.png" alt="Random first slide"></div>
            <h2 class="card-title home-fac-grid">Spacious Dining Hall With Modern Chairs And Tables, Has Seating Capacity Of 450 People</h2>
            
          </div>
         
        </div>
      </div>
    </div>
      <!-- /.col-md-4 -->
      <div class="row fac-container">
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <div class ="fac-image"> <img src="assets\img\kitchen.png" alt="Random first slide"></div>
            <h2 class="card-title home-fac-grid">Fully Equipped , Spacious , Well Ventilated Modern Kitchen.</h2>
            
          </div>
         
        </div>
      </div>
      <!-- /.col-md-4 -->

    
    
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <div class ="fac-image"> <img src="assets\img\buffspace.png" alt="Random first slide"></div>
            <h3 class="card-title home-fac-grid">Large Covered Buffet Space.</h3>
           
          </div>
         
        </div>
      </div>
    </div>
    <div class="row fac-container">
      <!-- /.col-md-4 -->
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <div class ="fac-image"> <img src="assets\img\parking.png" alt="Random first slide"></div>
            <h2 class="card-title home-fac-grid">
              Spacious Area Available For Car Parking. 100 Paved Car Parks and area to park outside the Mahal.</h2>
            
          </div>
          
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <div class ="fac-image"> <img src="assets\img\power.png" alt="Random first slide"></div>
            <h2 class="card-title home-fac-grid">24/7 Power Supply Is Guaranteed With Generator Backup and Invertor</h2>
            
          </div>
          
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
